/* Cascading Style Sheet */

* {
    box-sizing: border-box;
    margin: 0;
}



/* FOR DESKTOP */
html, body {
    height: 100%;

    font-family: 'Roboto', sans-serif;

    /* Variáveis */
    --black: hsl(240, 6%, 13%);
    --grey: hsl(240, 9%, 89%);
    --grey2: hsl(240, 7%, 78%);
    --grey3: hsl(240, 9%, 89%);
    --hover-color: rgba(255, 0, 140, 0.582);
}

body {
    display: grid;
    grid-template-rows: 96% 4%;
    place-items: center;

    background: url(images/desktop-background-highlight.svg) no-repeat center/cover;
    background-color: #121214;
}

/* Main ------------------------------ */
main {
    display: grid;
    place-items: center;
}

#badgeContent {
    position: relative;

    display: flex;
    justify-content: center;
}

.ribbon {
    position: absolute;
    z-index: 2;
    
    top: -63.75rem;
    
    width: 4rem;
    height: 65rem;
    /* height: 9rem; */
    
    background: url(images/ribbon.svg) no-repeat center/cover;
}

.blackRectangle {
    position: absolute;
    z-index: 1;
    
    top: 16px;
    
    width: 5rem;
    height: 0.5rem;
    
    background: url(images/black-rectangle.svg);
}

.card {
    width: 22.5rem; /* 360px */
    height: 33.75rem; /* 540px */

    border-radius: 20px;

    background: url(images/desktop-badge-background.svg) no-repeat center;
    
    text-align: center;
}

.container {
    margin-top: 4.5rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;

    max-width: 250px;
}


.avatar {
    position: relative;
}

.avatar span {
    position: absolute;
    
    top: -15px;

    z-index: 1;
}

.avatar > img {
    width: 10rem;
    height: 11.5rem;

    object-fit: cover;

    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.container h1 {
    margin-top: 0.25rem;
    color: var(--grey);
}

.container a {
    margin-top: 0.25rem;
    display: flex;
    justify-content: center;
    gap: 0.75rem;

    font-weight: 400;
    color: var(--grey2);
    text-decoration: none;
}

.container a:hover {
    color: var(--hover-color);;
}

.container p {
    margin-top: 2rem;

    color: var(--grey3);
}

ul {
    margin-top: 2.5rem;
    padding: 0;

    display: flex;
    justify-content: center;
    gap: 0.5rem;

    list-style: none;
}

.socialButton {
    position: absolute;
    border-radius: 30%;
}

.socialButtonHover {
    opacity: 0;
    border-radius: 30%;
}

ul li:hover .socialButtonHover {
    opacity: 1;
    transform: scale(1.10);
}

/* Footer ------------------------------ */
footer {
    text-align: center;
    
    font-size: 0.8rem;
    color: var(--grey);
}

footer p {
    opacity: 0.15;
}

footer a {
    color: var(--grey2);
}

footer a:hover {
    color: white;
}



/* FOR MOBILE */
@media only screen and (max-width: 768px) {
    body {
        display: grid;
        place-items: center;
    }

    /* Main ------------------------------ */
    main {
        width: 100vw;
        min-height: 812px;
        height: 100vh;

        background: url(images/mobile-badge-background.svg) no-repeat center/cover;
    }

    #badgeContent {
        width: 100vw;
        min-height: 812px;
        height: 100vh;

        position: relative;
    
        display: flex;
        justify-content: center;
    }

    .ribbon,
    .blackRectangle {
        display: none;
    }

    .card {
        background: none;
    }

    .container {
        margin-right: auto;
        margin-left: auto;

        max-width: 250px;

        text-align: center;
    }

    .avatar {
        position: relative;

        width: 10rem;
        margin: 11.5rem auto 0;
    }

    footer {
        background: #202024;
        width: 100%;
        height: 100%;
    }
}